/***********************************
MOBILE/MAIN STYLES
***********************************/
.thin-text {
  font-weight: 200;
}

.bold-text {
  font-weight: 600;
}

h1,
.h1 {
  margin-top: 0;
  font-size: 2rem;
}

h2 {
  margin-bottom: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

.info {
  margin-bottom: 0.75rem;
}

.info,
.info .conference-date {
  font-size: 18px;
  line-height: 1.25;
}

.popover {
  color: #000000;
}

.strike-through {
  text-decoration: line-through;
}

.field-label {
  font-size: 0.75rem;
}

.field-value {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 1rem;
  padding-left: 0.15rem;
}

/***********************************
  TABLET STYLES
  ***********************************/

@media (min-width: 768px) {
  h1,
  .h1 {
    font-size: 2.75rem;
  }

  .info,
  .info .conference-date {
    font-size: 1.5rem;
  }
}

/***********************************
  DESKTOP STYLES
  ***********************************/
@media (min-width: 992px) {
  h1,
  .h1 {
    font-size: 3rem;
  }

  .info,
  .info .conference-date {
    font-size: 2rem;
  }
}
